body {
	background-color: #1c1c1c;
}

.movie-card {
	min-width: 180px;
	border-radius: 12px;
	overflow: hidden;
	background: none;
	border: none;
}

.movie-card img {
	width: 100%;
	height: auto;
	border-radius: 12px;
	transition: transform 0.3s ease;
}

.movie-card img:hover {
	transform: scale(1.05);
}