*{
    box-sizing: border-box;
}

body{
    color: grey;
}

#sidebar{
    width: 20%;
    padding: 10px;
    margin: 0;
    float: left;
}
#products{
    width: 80%;
    padding: 10px;
    margin: 0;
    float: right;
}
ul{
    list-style: none;
    padding: 5px;
}

table.table-striped tr th {
	min-width: 150px;
}

table td {
	min-width: 100px;
}

div.row {
	overflow: auto !important;
}

div.row::-webkit-scrollbar {
	width: 12px;
}

div.row::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo da trilha */
  border-radius: 10px; /* Borda arredondada */
}

/* Estiliza a "thumb" (a parte que se move na barra de rolagem) */
div.row::-webkit-scrollbar-thumb {
  background-color: #888; /* Cor da barra de rolagem */
  border-radius: 10px; /* Borda arredondada */
  border: 3px solid #f1f1f1; /* Cor ao redor da "thumb" */
}

div.row::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.form-container {
    max-width: 350px;
    padding: 1rem;
}

.col-form-label {
	min-width: 110px !important;
}
   
.justify-content-center {
	width: 100%;
}
.custom-select {
	min-width: 110px !important;
	width: 20%;
}

.custom-input {
	min-width: 150px !important;
}

@media ( min-width :576px) {

}

@media(min-width:991px){
    .navbar-nav{
        margin-left: 35%;
    }
    .nav-item{
        padding-left: 20px;
    }

    #mobile-filter{
        display: none;
    }
}
